{% extends "PDMS/BaseDashboard.html" %}

{% block title%}
Admin | {%block sub_title%} {%endblock%}
{% endblock %}

{% block list_content %}
	<a href = "/dashboard/" class = {% block link1 %}{%endblock%}>View Profile</a>
	<a href = "/viewDocuments/" class = {% block link2 %}{%endblock%}>Approve Registrations</a>
	<a href = "/viewRecieved/" class = {% block link3 %}{%endblock%}>All Approved Users</a>
	<a href = "/search/" class = {% block link4 %}{%endblock%}>Search and Delete Users</a>
	<a href = "/logout/" class = {% block link5 %}{%endblock%}>Logout</a>

{% endblock %}

{% block side_content %}
	<h1> Admin Dashboard </h1>
	{%block content%}
	{%endblock%}
{% endblock %}