{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'home-static/home-style.css' %}">
    </head>
    <body>
        <div class="homepage">
            <div class="logo">
                <img src="{% static 'home-static/home-logo.png' %}" alt="" id="lg">
            </div>
            <div class = "content">
                <h1>Patient Data Management System</h1>
                <p>
                    Nothing is more important than your health.
                </p>
                <div>
                    <button type="button">User LogIn</button>
                  
                </div>
            </div>
    
        </div>
    </body>
</html>