{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home-static/logincss.css' %}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>PDMS | LOG IN</title>
</head>
<body>
    <a href = "/"><h2 style="text-align: center;color:white">Patient Data Management System</h2></a>
    <div class="outer">
        <div class="form-container">
            <div class="button-container">
                <h2>{% block heading %} Sign in to PDMS {% endblock%}</h2>
                <br><br>
                {% for m in messages %}
                    <script>alert(" {{m}}");</script>
                {% endfor %}
            </div>
            {%block form %}
            <form id="login" method = "POST" action="/login/" class="input">
            	{% csrf_token %}
                <input type="text" class="input-field" name = "username" placeholder="Enter Email" required>
                <input type="password" id = pass1 class="input-field" placeholder="Password"  name = "password" required>
                
                <div class="g-recaptcha" data-sitekey="6Lf8aTgjAAAAAGhbWBHMZPMm_Z91lSD1SJmZzfSW"></div>

                <button type="submit" class="submit-btn" value="submit">Login</button>
                <br>
                <a href = "/signup/"><p style="text-align: center;">Dont' have an account? Create one</p></a>
            </form>
            {%endblock%}
        </div>
    </div>
    
    <script>
        window.onload = function() {
        var $recaptcha = document.querySelector('#g-recaptcha-response');

        if($recaptcha) {
        $recaptcha.setAttribute("required", "required");
        }
        };

    </script>
</body>
</html>