{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home-static/cssfile.css' %}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Sign Up | PDMS</title>
</head>
<body>
	{% for m in messages %}
            <script>alert(" {{m}}");</script>
            {% endfor %}
    <div class="outer">
        <a href = "/"><h2 style="text-align: center;color:white">Patient Data Management System</h2></a>
        <div class="form-container">
            <div class="button-container">
                <div id="btn" style="left:0px"></div>
                <a href = "/signup/"><button type="button" id="login-btn" class="toggle-btn" >User</button></a>
                <a href="/signupOrg/"><button type="button" id = "register-btn" class="toggle-btn">Organization</button></a>
            </div>
            <form id="login" method = "POST" action="/signup/" class="input" enctype="multipart/form-data">
            	{%csrf_token%}
                <input type="text" class="input-field" placeholder="First Name" pattern="^[A-Za-z\s]{1,20}$" title="Must contain alphabets only and less than 20 characters"  name = "name" maxlength ="20" required>
                
                <input type="email" class="input-field" placeholder="Email Address" name ="email" required>
                <input type="password" id = pass1 class="input-field" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,100}$" title="Must contain at least one number and one uppercase and lowercase letter, and between 8 and 100 characters" name ="password1" maxlength ="100" required>
                <input type="password" id = pass2 class="input-field" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,100}$" title="Must contain at least one number and one uppercase and lowercase letter, and between 8 and 100 characters. SHOULD BE same as previous typed password" name ="password2"  maxlength ="100" required>
            	<br><br>
            	Subcategory:
            	<select name = "type" required>
            		<option value = "Patient">Patient</option>
            		<option value = "HealthCareProfessional">Health Care Professional</option>
            	</select>
            	<br><br>
                <label for="Aadhar" >Upload Proof of Identity:[pdf]</label>
                <input type="file"  onchange="filevalidation('Aadhar','pdf')" placeholder="Upload Aadhar" name="filename" id="Aadhar" accept="application/pdf" required>
                <br><br>
                <div class="g-recaptcha" data-sitekey="6Lf8aTgjAAAAAGhbWBHMZPMm_Z91lSD1SJmZzfSW"></div>

                <button type="submit" class="submit-btn">Register</button>
                <br>
                <a href = "/login/"><p style="text-align: center;">Already Registered? Login Here</p></a>
            </form>


        </div>
    </div>
    <script>
        
        var loginpass1 = document.getElementById("pass1");
        var loginpass2 = document.getElementById("pass2");

        function validatePassword_login(){
            if(loginpass1.value != loginpass2.value) {
                loginpass2.setCustomValidity("Passwords Don't Match");
            }
            else{
                loginpass2.setCustomValidity("");
            }
        };

        loginpass1.onchange = validatePassword_login;
        loginpass2.onkeyup = validatePassword_login;

        function filevalidation(filename, fileformat){
            const file = document.getElementById(filename);
            if(file.files.length>0){
                var extension = file.files.item(0).name.split(".");
                if(extension.length === 1 || (extension[0]==="" && extension.length===2 )){
                    alert("Select file of specified format only");
                    file.value = "";
                    return;
                }
                var format = extension.pop().toLowerCase();
                if(fileformat === "pdf"){
                    if(format !="pdf"){
                        alert("Select file of specified format only");
                        file.value = "";
                        return;

                    }
                }
                else{
                    if(format !="jpeg" && format !="jpg"){
                        alert("Select file of specified format only");
                        file.value = "";
                        return;
                    }   
                }
                const filesize = Math.round(file.files.item(0).size/1024);
                if(filesize>2048){
                    alert("File size is too big, please select a file less than 2MB");
                    file.value="";
                    return;
                }
                if(filesize==0){
                    alert("File size is too small")
                    return;
                }
            }
        };

        window.onload = function() {
    	var $recaptcha = document.querySelector('#g-recaptcha-response');

    	if($recaptcha) {
        $recaptcha.setAttribute("required", "required");
    }
};



    </script>
</body>
</html>