{% extends "PDMS/Patient.html"%}

{%block sub_title%} 
Recieved
{%endblock%}

{% block link1 %}inactive{%endblock%}
{% block link2 %}inactive{%endblock%}
{% block link3 %}active{%endblock%}
{% block link4 %}inactive{%endblock%}
{% block link5 %}inactive{%endblock%}


{%block content%}
<h2>View Received Documents</h2>

<table>
	<tr>
		<th>Sender</th>
		<th>Action</th>
	</tr>
	{% for ob in data1 %}
	<tr>
		<td>{{ob.recieved_from_user}}</td>
		<td><a href = {{ob.documents.url}}><button>View PDF</button></a></td>
	</tr>
	{%endfor%}

</table>

{%endblock%}